body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  text-align: center;
  padding: 20px;
}

input[type="file"] {
  display: block;
  margin: 10px auto;
}

.unit-controls,
.distance-display {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
}

input,
button {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
